@import "tailwindcss";

/* Global variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* our web app's theme */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Changes background/foreground colors if user prefers dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* uses background and foregrond colors from variables we defined above */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
